body{
      background-color: #F6E5DC;
      font-family: Verdana;
}

#baner {
    background-color: #2F180C;
    display: flex;
    align-items: center;
    justify-content: center;
    color: khaki;
    height: 100px;
}

#baner h1{
    margin: 0;
    padding: 0;
}

#lewy{
    width: 60%;
    display: flex;
    float: left;
    margin: 0 auto;
}

#prawy{
    font-size: 150%;
    padding: 70px;
    float: left;
}

#dolny{
    background-color: #D0B6A8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    clear: both;
    height: fit-content;
}

footer{
    background-color: #2F180C;
    color: khaki;
    height: 60px;
}

#zdj{
    height: 350px;
    max-width: 100%;
    display: block;
}

#btn{
    margin: 10px;
    padding: 5px;
    background-color: #2F180C;
    color: khaki;
}
#back-btn {
    padding: 10px;
    margin: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}


/* Kiedy szerokość ekranu jest mniejsza niż 1400px: */
@media (max-width: 1400px) {
    .main-content {
        flex-direction: column;
        align-items: center; 
        text-align: center;
    }

    #lewy {
        width: 100% !important;
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }


    #prawy {
        width: 100% !important;
        padding: 20px;
    }

    
    #zdj {
        max-width: 90%;
        height: auto;
        margin: 0 auto;
    }

    ol {
        display: inline-block;
        text-align: left;
    }
}
